*.swp

_CoqProject
Makefile.coq
Makefile.coq.conf
.Makefile.coq.d
.build

*.vo
*.vio
*.v.d
*.glob
.*.aux
*.vok
*.vos

graph.png
graph.dot

.lia.cache
.nia.cache
.coqdeps.d

extract/*.ml
extract/*.mli
!extract/main.ml
extract/main.native
extract/_build/

main.native
main.byte
*.out
*~

/imp_compile/*
!/imp_compile/*.v
!/imp_compile/build.sh
!/imp_compile/_tags
!/imp_compile/test.ml
!/imp_compile/configure
!/imp_compile/Makefile
!/imp_compile/CompCert
!/imp_compile/run.sh
