*.swp

_CoqProject
Makefile.coq
Makefile.coq.conf
.Makefile.coq.d
.build

*.vo
*.vio
*.v.d
*.glob
.*.aux
*.vok
*.vos

graph.png
graph.dot

.lia.cache
.nia.cache
.coqdeps.d

extract/*.ml
extract/*.mli
!extract/main.ml
extract/main.native
extract/_build/

main.native
main.byte
*.out
*~

imp_compile/*.ml
imp_compile/*.mli
!imp_compile/main.ml
imp_compile/main.native
imp_compile/_build/
