*.swp

_CoqProject
Makefile.coq
Makefile.coq.conf
.Makefile.coq.d
.build

*.vo
*.vio
*.v.d
*.glob
.*.aux
*.vok
*.vos

graph.png
graph.dot

.lia.cache
.nia.cache
.coqdeps.d

extract/*.ml
extract/*.mli
!extract/main.ml
extract/main.native
extract/_build/

main.native
main.byte
main.d.byte
*.out
*~

/imp/compiler_extract/*
!/imp/compiler_extract/*.v
!/imp/compiler_extract/build.sh
!/imp/compiler_extract/_tags
!/imp/compiler_extract/test.ml
!/imp/compiler_extract/configure
!/imp/compiler_extract/Makefile
!/imp/compiler_extract/CompCert
!/imp/compiler_extract/run.sh

!/imp/compiler_extract/bin
/imp/compiler_extract/bin/*
!/imp/compiler_extract/bin/*.c

/.vscode
